# ============================== #
# General Configuration          #
# ============================== #
FASTAPI_HOST=0.0.0.0
FASTAPI_WORKERS=1
USE_GUNICORN=True
GUNICORN_PRELOAD_APP=True
EXECUTOR_MAX_WORKERS=1

# ============================== #
# Security / Dashboard           #
# ============================== #
ADMIN_DASHBOARD_PASSWORD=changeme
PUBLIC_METRICS_API=False

# ============================== #
# Database                       #
# ============================== #
DATABASE_FORCE_IPV4_RESOLUTION=True
DATABASE_BATCH_SIZE=20000
DATABASE_STARTUP_CLEANUP_INTERVAL=3600

# ============================== #
# Cache / Performance            #
# ============================== #
METADATA_CACHE_TTL=2592000
TORRENT_CACHE_TTL=3600
LIVE_TORRENT_CACHE_TTL=3600
DEBRID_CACHE_TTL=3600
METRICS_CACHE_TTL=60
SCRAPE_LOCK_TTL=300
SCRAPE_WAIT_TIMEOUT=30

# ============================== #
# Active Scrapers                #
# ============================== #
BACKGROUND_SCRAPER_CONCURRENT_WORKERS=1
BACKGROUND_SCRAPER_INTERVAL=3600
BACKGROUND_SCRAPER_MAX_MOVIES_PER_RUN=100
BACKGROUND_SCRAPER_MAX_SERIES_PER_RUN=100
CATALOG_TIMEOUT=30

ANIME_MAPPING_ENABLED=True
ANIME_MAPPING_REFRESH_INTERVAL=432000

# ============================== #
# Prowlarr Settings              #
# ============================== #
PROWLARR_URL=
PROWLARR_API_KEY=
PROWLARR_INDEXERS=[]

# ============================== #
# Torrent Settings               #
# ============================== #
GET_TORRENT_TIMEOUT=45
DOWNLOAD_TORRENT_FILES=False
MAGNET_RESOLVE_TIMEOUT=60
DOWNLOAD_GENERIC_TRACKERS=False

# ============================== #
# Indexer Manager                #
# ============================== #
SCRAPE_COMET=false
SCRAPE_TORRENTIO=false
SCRAPE_NYAA=false
SCRAPE_JACKETT=false
SCRAPE_MEDIAFUSION=false

INDEXER_MANAGER_TIMEOUT=30
INDEXER_MANAGER_WAIT_TIMEOUT=30
INDEXER_MANAGER_UPDATE_INTERVAL=900

# ============================== #
# Scraper Resilience             #
# ============================== #
TORRENTIO_URL=https://torrentio.strem.fun

# ============================== #
# Debrid Proxy Settings          #
# ============================== #
PROXY_DEBRID_STREAM=False
PROXY_DEBRID_STREAM_PASSWORD=NONEED
PROXY_DEBRID_STREAM_MAX_CONNECTIONS=-1
PROXY_DEBRID_STREAM_DEBRID_DEFAULT_SERVICE=realdebrid

# ============================== #
# Other Settings                 #
# ============================== #
REMOVE_ADULT_CONTENT=False
STREMTHRU_URL=https://stremthru.13377001.xyz
DIGITAL_RELEASE_FILTER=False

TUNNEL_TOKEN=
SURF_PRIVATE_KEY=
SURF_ADDRESS=10.14.0.2/16
