bin/
obj/
out/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea/
.env

src/Zilean.Scraper/python/
src/Zilean.ApiService/python/

Zilean.sln.DotSettings.user

# Dolt database files (added by bd init)
.dolt/
*.db

publish/
tests/Zilean.Tests/TestResults/
.beads/
